.hero {
  border-top: 10px solid #000;
  padding: 2.688rem 5.125rem;
  height: 75dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.hero-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
  }
}

.hero-content-typing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  > span {
    font-family: "DotGothic16";
    font-size: 2.25rem;
  }
}

.hero-vertical-navigation {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  position: absolute;
  top: 55%;
  transform: translateX(-60%) rotate(-90deg);

  .hero-vertical-navigation-item {
    cursor: pointer;
    > p {
      font-family: "Manrope";
      font-weight: 200;
    }
    font-size: 0.875rem;
  }
}

/* TODO: Add a before element to the hero-vertical-navigation-item */

.hero-vertical-navigation-item::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
